body {
  background-color: peachpuff;
}
h1 {
  text-align: center;
  font-size: 35px;
  align-items: center;
  font-style: italic;
  text-decoration: underline;
}
h2 {
  text-align: center;
  font-size: 25px;
  align-items: center;
  font-style: italic;
}

main {
  align-items: center;
  text-align: center;
  display: flexbox;
  flex-direction: column;
  padding: 110px;
}
div {
  display: flexbox;
  flex-direction: column;
  padding: 12px;
  font-size: 40px;
  color: white;
  background-color: black;
  margin: 15px 0px 0px 0px;
  border-radius: 10px;
}
