body {
  background-color: peachpuff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 35px;
  align-items: center;
  font-style: italic;
  text-decoration: underline;
  padding-bottom: 10px;
}
h2 {
  text-align: center;
  font-size: 25px;
  align-items: center;
  font-style: italic;
}

main {
  align-items: center;
  text-align: center;
  display: flexbox;
  flex-direction: column;
  padding: 110px;
}
.mode {
  display: flexbox;
  flex-direction: column;
  padding: 12px;
  font-size: 40px;
  color: white;
  margin: 15px 0px 0px 0px;
  background-color: aquamarine;
  border-radius: 10px;
}
#startBtn {
  padding: 10px 20px;
  font-size: 18px;
  margin: 20px;
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 5px;
  font-size: 40px;
  color: rgb(231, 141, 141);
  width: 30vw;
  height: 70vh;
}
/* #gameOver {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: blue;
} */

.hole {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border-radius: 90px;
  color: rgb(18, 202, 21);
  height: 145px;
  width: 145px;
  /* position: relative; */
  overflow: hidden;
}
.mole {
  /* position: absolute; */
  color: white;
  background-color: green;
  height: 200px;
  width: 200px;
}

.cursor img {
  position: absolute;
  height: 125px;
  z-index: 2;
  transform: translate(-10px, -40px);
  position: none;
  pointer-events: none;
}

@keyframes hit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
